<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047961685171-khp0r43j4efp7nnrqt2tmutafh7p2l4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047961685171-khp0r43j4efp7nnrqt2tmutafh7p2l4r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047961685171-1gghrb5iucrtbt0av8uk1uabmh4notnd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGdIBr751GLJAeSVp7ewyQcr6UTi8nsno</string>
	<key>GCM_SENDER_ID</key>
	<string>1047961685171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assessli.connector.staging</string>
	<key>PROJECT_ID</key>
	<string>assei-apps-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>assei-apps-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047961685171:ios:d8762fb6293a51c35e34c6</string>
</dict>
</plist>